# 项目基础设置
ENV=development
LOG_LEVEL=DEBUG
APP_CONFIG_FILEPATH=config.yaml

# 数据库相关的配置
SQLALCHEMY_DATABASE_URI=postgresql+asyncpg://postgres:postgres@localhost:5432/manus

# Redis相关配置
REDIS_HOST=localhost
REDIS_PORT=8001
REDIS_DB=0
REDIS_PASSWORD=

# 阿里云OSS相关配置
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_ENDPOINT=oss-cn-hangzhou.aliyuncs.com
OSS_SCHEME=https
OSS_BUCKET=
OSS_PUBLIC_BASE_URL=

# 沙箱配置
SANDBOX_ADDRESS=
SANDBOX_IMAGE=whisker-manus-sandbox
SANDBOX_NAME_PREFIX=whisker-manus-sandbox
SANDBOX_TTL_MINUTES=60
SANDBOX_NETWORK=whisker-manus-network
SANDBOX_CHROME_ARGS=
SANDBOX_HTTPS_PROXY=
SANDBOX_HTTP_PROXY=
SANDBOX_NO_PROXY=
